{% extends 'layout_password.html' %}

{% block form %}
<div class="flex flex-col space-y-8">
    <h1 class="font-bold text-3xl">Why did you change your password?</h1>

    <form method="POST" action="" class="flex flex-col text-tiny font-light">
        {{ form.hidden_tag() }}
        {% for reason in form.reasons %}
        <div class="inline-flex items-center">
            {{ reason(class="form-radio") }}
            {{ reason.label(class="ml-2 inline-flex items-center") }}
        </div>
        {% endfor %}
        {{ form.submit(class="mt-6 rounded-full bg-blue-500 text-tiny text-white font-bold w-20 h-10 
        focus:outline-none hover:bg-blue-600 focus:bg-blue-700 cursor-pointer") }}
    </form>
</div>

{% endblock form%}