{% extends 'layout_password.html' %}

{% block form %}
<div class="flex flex-col space-y-5">
    <h1 class="font-bold text-3xl">Find your Chirp account</h1>
    <form method="POST" action="" class="flex flex-col space-y-4">
        {{ hidden_tag }}
        <div class="text-sm font-light">Enter your email, phone number, or username.</div>
        {{ form.email(class="border border-gray-400 rounded-full focus:border-blue-500 focus:outline-none w-88 h-10 pl-3") }}
        {{ form.submit(class="rounded-full font-bold bg-blue-500 text-white text-sm h-8 w-20 outline-none cursor-pointer
        hover:bg-blue-600 focus:bg-blue-700") }}
    </form>
</div>

{% endblock form%}