{% extends 'layout_password.html' %}

{% block form %}
<div class="flex flex-col font-light text-s w-148">
    <h1 class="font-bold text-3xl">You're all set. You've successfullt changed your password.</h1>
    <div class=""></div>
    <a href="#" class="text-lg text-blue-500 hover:underline mt-10">Review your applications</a>
    <p>Tale a moment to reiew the applications that have access to your account. Revoke the access of those you don't
        recognize or no longer use.</p>
    <a href="#" class="text-lg text-blue-500 hover:underline">Make your password more secure</a>
    <p>Require my phone number or email to reset my password.</p>
    <a href="#" class="text-s text-blue-500 hover:underline mt-10">Continue to Chirper</a>
</div>

{% endblock form%}