{% extends 'layout_password.html' %}

{% block form %}
<div class="flex flex-col">
    <h1 class="font-bold text-3xl">Reset your password</h1>
    <div class="flex flex-row space-x-3 pt-10">
        <!-- user icon -->
        <div class="w-12 h-12">
            <div class="w-12 h-12 rounded-full overflow-hidden">
                <img src="{{ url_for('static', filename = 'img/profile_pics/' + user.profile_image) }}"
                    alt="profile pic" class="w-full h-full object-cover">
            </div>
        </div>
        <!-- username, handle, timestamp -->

        <!-- link to user page -->
        <div class="flex flex-col justify-center -space-y-1">
            <div class="text-tiny font-bold">{{ user.name }}</div>
            <div class="text-gray-600 text-s">@{{ user.handle }}</div>
        </div>
    </div>

    <form method="POST" action="" class="flex flex-col text-tiny font-light space-y-2">
        {{ form.hidden_tag() }}
        <span>Strong passwords include numbers, letters, and punctuation marks.
            <a href="#" class="text-blue-400 hover:underline">Learn more</a></span>

        <div class="flex flex-col space-y-2 pt-1">
            <div class="flex flex-col">
                {{ form.password.label(class="font-bold text-sm") }}
                {{ form.password(class="border border-gray-400 rounded-full focus:border-blue-500 focus:outline-none w-88 h-10 pl-3") }}
            </div>
            <div class="flex flex-col">
                {{ form.confirm_password.label(class="font-bold text-sm") }}
                <span>
                    {% if form.errors == {} %}
                    {{ form.confirm_password(class="border border-gray-400 rounded-full focus:border-blue-500 focus:outline-none w-88 h-10 pl-3") }}
                    {% else %}
                    {{ form.confirm_password(class="border-2 border-red-600 rounded-full focus:outline-none w-88 h-10 pl-3") }}
                    {% for error in form.confirm_password.errors %}
                    <span class="text-s text-red-600 ml-2">{{ error }}</span>
                    {% endfor %}
                    {% endif %}
                </span>
            </div>
            <span class="flex items-center">
                {{ form.remember(class="form-checkbox") }}
                {{ form.remember.label(class="ml-2 text-sm") }}
            </span>
            <div class="text-sm mt-3 pb-3">Resetting your password will log you out of all your active Chirper sessions.
            </div>
            {{ form.submit(class="rounded-full bg-blue-500 text-tiny text-white font-bold w-36 h-10
        focus:outline-none hover:bg-blue-600 focus:bg-blue-700 cursor-pointer") }}
        </div>


    </form>
</div>

{% endblock form%}