{% extends 'layout_password.html' %}

{% block form %}
<div class="flex flex-col space-y-5">
    <h1 class="font-bold text-3xl">Reset your password</h1>
    <div class="flex flex-row space-x-3 pt-3">
        <!-- user icon -->
        <div class="w-12 h-12">
            <div class="w-12 h-12 rounded-full overflow-hidden">
                <img src=" {{ url_for('static', filename = 'img/profile_pics/ocean4.jpg') }} " alt="profile pic"
                    class="w-full h-full object-cover">
            </div>
        </div>
        <!-- username, handle, timestamp -->

        <!-- link to user page -->
        <div class="flex flex-col justify-center -space-y-1">
            <div class="text-tiny font-bold">Renee Zhou</div>
            <div class="text-gray-600 text-s">@handle</div>
        </div>
    </div>


    <form method="POST" action="" class="flex flex-col space-y-4 text-tiny font-light">
        <div>
            <span>Strong passwords include numbers, letters, and punctuation marks.
                <a href="#" class="text-blue-400 hover:underline">Learn more</a></span>
        </div>

        <div class="flex flex-col">
            <form method="POST" action="" class="flex flex-col">
                <label class="font-bold text-sm mb-1">Enter your new password</label>
                <input class="border border-gray-400 rounded-full focus:border-blue-500 focus:outline-none w-88 h-10 pl-3 mb-2">
                <label class="font-bold text-sm mb-1">Enter your password one more time</label>
                <input class="border border-gray-400 rounded-full focus:border-blue-500 focus:outline-none w-88 h-10 pl-3">
                <div class="flex mt-2">
                    <label class="flex items-center">
                      <input type="checkbox" class="form-checkbox">
                      <span class="ml-2 text-sm">Remember me</span>
                    </label>
                  </div>
                <div class="text-sm mt-3">Resetting your password will log you out of all your active Chirper sessions.</div>
            </form>
        </div>

        <button
            class="rounded-full bg-blue-500 text-tiny text-white font-bold w-36 h-10 focus:outline-none hover:bg-blue-600 focus:bg-blue-700">Reset password</button>
    </form>
</div>

{% endblock form%}