{% extends 'layout_password.html' %}

{% block form %}
<div class="flex flex-col space-y-5">
    <h1 class="font-bold text-3xl">Why did you change your password?</h1>

    <form method="POST" action="" class="flex flex-col space-y-4 text-tiny font-light">

        <div class="flex flex-col mt-3 mb-4">
            <div class="mt-2 flex flex-col ">
                <label class="inline-flex items-center">
                    <input type="radio" class="form-radio" name="accountType" value="personal">
                    <span class="ml-2">Forgot password</span>
                </label>
                <label class="inline-flex items-center">
                    <input type="radio" class="form-radio" name="accountType" value="busines">
                    <span class="ml-2">Account may have been accessed by someone else</span>
                </label>
                <label class="inline-flex items-center">
                    <input type="radio" class="form-radio" name="accountType" value="busines">
                    <span class="ml-2">Another reason</span>
                </label>
            </div>
        </div>

        <button
            class="rounded-full bg-blue-500 text-tiny text-white font-bold w-20 h-10 focus:outline-none hover:bg-blue-600 focus:bg-blue-700">Submit</button>
    </form>
</div>

{% endblock form%}