<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'styles.css') }}">
    <title>Twitter. It's what's happening / Twitter</title>
</head>

<body class="bg-gray-900 text-white relative">
    <div class="flex flex-row h-screen">
        <aside class="bg-blue-400 w-1/2 text-lg font-bold flex flex-col items-center justify-center">
            <div class="space-y-8">
                <h2>Follow your interests.</h2>
                <h2>Hear what people are talking about.</h2>
                <h2>Join the conversation.</h2>
            </div>
        </aside>

        <main class="w-1/2 flex flex-col items-center justify-center">
            <div class="w-96 space-y-12">
                <h1 class="text-3xl font-bold">See what's happening in the world right now</h1>

                <div class="flex flex-col space-y-4">
                    <h4 class="font-semibold">Join Twitter today.</h4>

                    <div class="flex flex-col space-y-4">
                        <button class="bg-blue-500 rounded-full h-10 font-semibold hover:bg-blue-600">
                            <a href="{{ url_for('signup') }}">Sign up</a>
                        </button>
                        <button class="border border-blue-500 rounded-full h-10 text-blue-500 font-semibold hover:bg-gray-800">
                            <a href="{{ url_for('login') }}">Log in</a>
                        </button>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <div class="fixed bottom-0 w-full tracking-wider bg-gray-900 flex flex-row justify-center">
        <footer class="text-gray-500 font-light mx-3 my-3 space-x-2 tracking-wide leading-relaxed text-center">
            <a><small class="no-underline hover:underline">About</small></a>
            <a><small class="no-underline hover:underline">Help Center</small></a>
            <a><small class="no-underline hover:underline">Terms of Service</small></a>
            <a><small class="no-underline hover:underline">Privacy Policy</small></a>
            <a><small class="no-underline hover:underline">Cookie Policy</small></a>
            <a><small class="no-underline hover:underline">Ads info</small></a>
            <a><small class="no-underline hover:underline">Blog</small></a>
            <a><small class="no-underline hover:underline">Status</small></a>
            <a><small class="no-underline hover:underline">Careers</small></a>
            <a><small class="no-underline hover:underline">Brand Resources</small></a>
            <a><small class="no-underline hover:underline">Advertising</small></a>
            <a><small class="no-underline hover:underline">Marketing</small></a>
            <a><small class="no-underline hover:underline">Twitter for Business</small></a>
            <a><small class="no-underline hover:underline">Developers</small></a>
            <a><small class="no-underline hover:underline">Directory</small></a>
            <a><small class="no-underline hover:underline">Settings</small></a>
            <a><small class="no-underline hover:underline">(c) 2020 Twitter, Inc.</small></a>
        </footer>
    </div>
</body>

</html>