{% extends 'layout.html' %}

{% block title %} Home {% endblock title %}
{% block header %} Home {% endblock header%}
{% block svg %}
<div class="svg-bg-div">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
        class="w-6 h-6 stroke-current text-blue-500">

        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M5 3v4M3 5h4M6 17v4m-2-2h4m5-16l2.286 6.857L21 12l-5.714 2.143L13 21l-2.286-6.857L5 12l5.714-2.143L13 3z" />
    </svg>
</div>
{% endblock svg %}


{% block content %}
<div class="flex flex-row my-2 mx-3 space-x-3">
    <!-- profile pic -->
    <div>
        <div class="w-14 h-14 rounded-full overflow-hidden">
            <img src="{{ image_file }}" alt="profile pic"
                class="w-full h-full object-cover">
        </div>
    </div>

    <div class="flex flex-col w-full">
        <!-- post content -->
        <form>
            <label for="chirp"></label>
            <textarea name="chirp" placeholder="What's happening?" maxlength="280" rows="1"
                class="resize-none bg-gray-900 text-xl focus:outline-none p-2"></textarea>
        </form>

        <div class="flex flex-col space-y-2 divide-y divide-gray-700">
            <div>
                <button class="tracking-wide rounded-full inline-flex items-center justify-center
                space-x-1 px-2 py-1
                focus:outline-none hover:bg-blue-800 hover:bg-opacity-25 active:bg-blue-700">
                    <div class="inline">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                            class="w-6 h-6 fill-current text-blue-500">
                            <path fill-rule="evenodd"
                                d="M10 18a8 8 0 100-16 8 8 0 000 16zM4.332 8.027a6.012 6.012 0 011.912-2.706C6.512 5.73 6.974 6 7.5 6A1.5 1.5 0 019 7.5V8a2 2 0 004 0 2 2 0 011.523-1.943A5.977 5.977 0 0116 10c0 .34-.028.675-.083 1H15a2 2 0 00-2 2v2.197A5.973 5.973 0 0110 16v-2a2 2 0 00-2-2 2 2 0 01-2-2 2 2 0 00-1.668-1.973z"
                                clip-rule="evenodd" />
                        </svg>
                    </div>
                    <div class="inline text-xs text-blue-500 font-bold">Everyone can reply</div>
                </button>
            </div>

            <div class="flex flex-row items-center justify-between pt-2">
                <!-- svg group -->
                <div class="flex flex-row space-x-1">
                    <!-- uploac pic -->
                    <div class="rounded-full w-8 h-8 flex items-center justify-center
                    hover:bg-gray-800 active:bg-blue-900">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                            class="w-6 h-6 stroke-current text-blue-500">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M4 16l4.586-4.586a2 2 0 012.828 0L16 16m-2-2l1.586-1.586a2 2 0 012.828 0L20 14m-6-6h.01M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z" />
                        </svg>
                    </div>
                    <!-- gif -->
                    <div class="rounded-full w-8 h-8 flex items-center justify-center
                    hover:bg-gray-800 active:bg-blue-900">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                            class="w-6 h-6 stroke-current text-blue-500">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M4 5a1 1 0 011-1h14a1 1 0 011 1v2a1 1 0 01-1 1H5a1 1 0 01-1-1V5zM4 13a1 1 0 011-1h6a1 1 0 011 1v6a1 1 0 01-1 1H5a1 1 0 01-1-1v-6zM16 13a1 1 0 011-1h2a1 1 0 011 1v6a1 1 0 01-1 1h-2a1 1 0 01-1-1v-6z" />
                        </svg>
                    </div>
                    <!-- poll -->
                    <div class="rounded-full w-8 h-8 flex items-center justify-center
                    hover:bg-gray-800 active:bg-blue-900">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                            class="w-6 h-6 stroke-current text-blue-500">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M9 19v-6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2a2 2 0 002-2zm0 0V9a2 2 0 012-2h2a2 2 0 012 2v10m-6 0a2 2 0 002 2h2a2 2 0 002-2m0 0V5a2 2 0 012-2h2a2 2 0 012 2v14a2 2 0 01-2 2h-2a2 2 0 01-2-2z" />
                        </svg>
                    </div>
                    <!-- emoji -->
                    <div class="rounded-full w-8 h-8 flex items-center justify-center
                    hover:bg-gray-800 active:bg-blue-900">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                            class="w-6 h-6 stroke-current text-blue-500">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M14.828 14.828a4 4 0 01-5.656 0M9 10h.01M15 10h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                        </svg>
                    </div>
                    <!-- calendar -->
                    <div class="rounded-full w-8 h-8 flex items-center justify-center
                    hover:bg-gray-800 active:bg-blue-900">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                            class="w-6 h-6 stroke-current text-blue-500">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
                        </svg>
                    </div>
                </div>
                <!-- chirp button -->
                <button class="inline w-20 h-10 rounded-full font-bold 
                    bg-blue-500 hover:bg-blue-600 active:bg-blue-700 focus:outline-none">Chirp</button>
            </div>
        </div>
    </div>
</div>


<div class="border-t-8 border-gray-800">
    <div class="p-1 m-2 text-sm flex flex-row space-x-2">
        <!-- user icon -->
        <div class="w-12 h-12">
            <div class="w-12 h-12 rounded-full overflow-hidden">
                <img src=" {{ url_for('static', filename = 'img/profile_pics/ocean4.jpg') }} " alt="profile pic"
                    class="w-full h-full object-cover">
            </div>
        </div>

        <div class="flex flex-col w-full space-y-2 -m-1">
            <!-- small header -->
            <div class="flex flex-row justify-between items-center">
                <!-- username, handle, timestamp -->
                <div class="flex flex-row space-x-2">
                    <!-- link to user page -->
                    <a href="#">
                        <div class="flex flex-row space-x-1">
                            <div class="text-base font-bold hover:underline">Renee Zhou</div>
                            <div class="text-gray-600">@handle</div>
                        </div>
                    </a>
                    <div class="text-gray-600 font-bold">·</div>
                    <!-- link to that specific chirp -->
                    <a href="#" class="text-gray-600 hover:underline">
                        <time class="">10m</time>
                    </a>
                </div>

                <!-- setting button -->
                <button class="focus:outline-none">
                    <div class="rounded-full p-1 hover:bg-blue-700 hover:bg-opacity-25 active:bg-blue-500">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                            class="w-5 h-5 stroke-current text-gray-600 hover:text-blue-500">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z" />
                        </svg>
                    </div>
                </button>

            </div>

            <!-- chirp content section -->
            <div>
                <p class="text-base">
                    I am building Chirp using Python 🐍 , flask & tailwind.
                    It is so fun! This is to pay tribute to Twitter of being such a wonderful platform!
                </p>
            </div>
            <!-- svg group -->
            <div class="flex flex-row justify-between pr-20">
                <!-- comment -->
                <a href="{{ url_for('compose_chirp') }}">
                    <div class="rounded-full p-1 hover:bg-blue-700 hover:bg-opacity-25 active:bg-blue-500">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                            class="w-5 h-5 stroke-current stroke-1 text-gray-500 hover:text-blue-500 ">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M8 12h.01M12 12h.01M16 12h.01M21 12c0 4.418-4.03 8-9 8a9.863 9.863 0 01-4.255-.949L3 20l1.395-3.72C3.512 15.042 3 13.574 3 12c0-4.418 4.03-8 9-8s9 3.582 9 8z" />
                        </svg>
                    </div>
                </a>

                <!-- rechirp -->
                <a href="{{ url_for('compose_chirp') }}">
                    <div class="rounded-full p-1 hover:bg-green-700 hover:bg-opacity-25 active:bg-green-500">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                            class="w-5 h-5 stroke-current stroke-1 text-gray-500 hover:text-green-500 ">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15" />
                        </svg>
                    </div>
                </a>


                <!-- like -->
                <button class="focus:outline-none">
                    <div class="rounded-full p-1 hover:bg-red-700 hover:bg-opacity-25 active:bg-red-500">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                            class="w-5 h-5 stroke-current stroke-1 text-gray-500 hover:text-red-500 ">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
                        </svg>
                    </div>
                </button>


                <!-- share -->
                <button class="focus:outline-none">
                    <div class="rounded-full p-1 hover:bg-blue-700 hover:bg-opacity-25 active:bg-blue-500">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                            class="w-5 h-5 stroke-current stroke-1 text-gray-500 hover:text-blue-500 ">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-8l-4-4m0 0L8 8m4-4v12" />
                        </svg>
                    </div>
                </button>

            </div>

            <!-- link to thread -->
            <!-- <div>
                <a href="#">Show this thread</a>
            </div> -->
        </div>

    </div>
</div>


<!-- templates for all chirp feeds -->
<div class="border-t-8 border-gray-800">
    {% for post in posts %}
    <div class="border-b border-gray-700">
        <div class="p-1 m-2 text-sm flex flex-row space-x-2">
            <!-- user icon -->
            <div class="w-12 h-12">
                <div class="w-12 h-12 rounded-full overflow-hidden">
                    <!-- <img src=" {{ url_for('static', filename = 'img/profile_pics/ocean4.jpg') }} " alt="profile pic"
                        class="w-full h-full object-cover"> -->
                    {{ post.icon }}
                </div>
            </div>


            <div class="flex flex-col w-full space-y-2 -m-1">
                <!-- small header -->
                <div class="flex flex-row justify-between items-center">
                    <!-- username, handle, timestamp -->
                    <div class="flex flex-row space-x-2">
                        <!-- link to user page -->
                        <a href="#">
                            <div class="flex flex-row space-x-1">
                                <div class="text-base font-bold hover:underline">{{ post.username }}</div>
                                <div class="text-gray-600">{{ post.handle }}</div>
                            </div>
                        </a>
                        <div class="text-gray-600 font-bold">·</div>
                        <!-- link to that specific chirp -->
                        <a href="#" class="text-gray-600 hover:underline">
                            <time class="">{{ post.time }}</time>
                        </a>
                    </div>

                    <!-- setting button -->
                    <button class="focus:outline-none">
                        <div class="rounded-full p-1 hover:bg-blue-700 hover:bg-opacity-25 active:bg-blue-500">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                class="w-5 h-5 stroke-current text-gray-600 hover:text-blue-500">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z" />
                            </svg>
                        </div>
                    </button>

                </div>

                <!-- chirp content section -->
                <div>
                    <p class="text-base">
                        {{ post.content }}
                    </p>
                </div>

                <!-- svg group -->
                <div class="flex flex-row justify-between pr-20">
                    <!-- comment -->
                    <a href="{{ url_for('compose_chirp') }}">
                        <div class="rounded-full p-1 hover:bg-blue-700 hover:bg-opacity-25 active:bg-blue-500">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                class="w-5 h-5 stroke-current stroke-1 text-gray-500 hover:text-blue-500 ">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M8 12h.01M12 12h.01M16 12h.01M21 12c0 4.418-4.03 8-9 8a9.863 9.863 0 01-4.255-.949L3 20l1.395-3.72C3.512 15.042 3 13.574 3 12c0-4.418 4.03-8 9-8s9 3.582 9 8z" />
                            </svg>
                        </div>
                    </a>

                    <!-- rechirp -->
                    <a href="{{ url_for('compose_chirp') }}">
                        <div class="rounded-full p-1 hover:bg-green-700 hover:bg-opacity-25 active:bg-green-500">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                class="w-5 h-5 stroke-current stroke-1 text-gray-500 hover:text-green-500 ">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15" />
                            </svg>
                        </div>
                    </a>


                    <!-- like -->
                    <button class="focus:outline-none">
                        <div class="rounded-full p-1 hover:bg-red-700 hover:bg-opacity-25 active:bg-red-500">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                class="w-5 h-5 stroke-current stroke-1 text-gray-500 hover:text-red-500 ">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
                            </svg>
                        </div>
                    </button>


                    <!-- share -->
                    <button class="focus:outline-none">
                        <div class="rounded-full p-1 hover:bg-blue-700 hover:bg-opacity-25 active:bg-blue-500">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                class="w-5 h-5 stroke-current stroke-1 text-gray-500 hover:text-blue-500 ">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-8l-4-4m0 0L8 8m4-4v12" />
                            </svg>
                        </div>
                    </button>

                </div>

                <!-- link to thread -->
                <!-- <div>
                    <a href="#">Show this thread</a>
                </div> -->
            </div>
        </div>
    </div>

    {% endfor %}
</div>
{% endblock content %}