<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Simulating Twitter</title>

  <link rel="stylesheet" href="{{ url_for('static', filename = 'main.css') }}">
</head>

<body class="grid grid-cols-3 bg-gray-900 text-white font-semibold text-xl">

  <!-- layout left -->
  <nav class="">
    <div class="">
      <ul class="flex flex-col">
        <!-- Here we need a logic to control display some lists when page is short -->
        <li>Twitter</li>
        <li>Home</li>
        <li>Explore</li>
        <li>Notifications</li>
        <li>Messages</li>
        <li>Bookmarks</li>
        <li>Lists</li>
        <li>Profile</li>

        <!-- this is the More Dropdown -->
        <!-- Need logics to change what shows in the dropdown according to view height -->
        <li>
          <button>More</button>
          <div>
            <a href="#">Topics</a>
            <a href="#">Moments</a>
            <a href="#">Twitter Ads</a>
            <a href="#">Analytics</a>
            <a href="#">Settings and Privacy</a>
            <a href="#">Help Center</a>
            <a href="#">Display</a>
          </div>
        </li>

        <li>Tweet</li>
      </ul>
    </div>

    <div class="">
      <button>Renee</button>
      <div>
        <ul>
          <li>Renee</li>
          <li>George</li>
        </ul>
        <a href="#">Add an existing account</a>
        <a href="#">Log out @renee</a>
      </div>
    </div>
  </nav>

  <!-- layout middle -->
  <main class="border-l border-r divide-y divide-2">
    <h1>Home</h1>
    <section>
      What's happening?
    </section>
    <section>
      Post 1
    </section>
    <section>
      Post 2
    </section>
    <section>
      Post 3
    </section>
  </main>


  <!-- layout right -->
  <aside class="flex flex-col mt-2 ml-8">
    <div class="w-auto">
      <form class="flex flex-col bg-gray-800 bg-opacity-50 rounded-2xl overflow-visible
      divide-y divide-gray-600 m-4 p-4">Search Twitter</form>

      <section class="flex flex-col bg-gray-800 bg-opacity-50 rounded-2xl overflow-visible
      divide-y divide-gray-600 m-4 p-4">
          <h3>Trends for you</h3>
          <a href="#">Topic 1</a>
          <a href="#">Topic 2</a>
          <a href="#">Topic 3</a>
          <a href="#">Show more</a>
        <!-- </div> -->
      </section>

      <section class="flex flex-col bg-gray-800 bg-opacity-50 rounded-2xl overflow-visible
      divide-y divide-gray-600 m-4 p-4">
        <h3>Who to follow</h3>
        <a href="#">Person 1</a>
        <a href="#">Person 2</a>
        <a href="#">Show more</a>
      </section>
    </div>

    <footer class="flex flex-row text-xs text-gray-600">
      <a href="#" class="no-underline hover:underline">Terms of Service</a>
      <a href="#" class="no-underline hover:underline">Privacy Policy</a>
      <a href="#" class="no-underline hover:underline">Cookie Policy</a>
      <a href="#" class="no-underline hover:underline">Ads info</a>
      <div>
        <button>More</button>
        <ul>
          <li>About</li>
          <li>
            <a href="#">Status</a>
            <a href="#">Twitter for Business</a>
            <a href="#">Developers</a>
        </ul>
      </div>
      <p>(c) 2020 Twitter, Inc.</p>
    </footer>
  </aside>
</body>

</html>