<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'styles.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}">
    <title>{% block title %}{% endblock title%} / Chirper</title>
</head>

<body class="text-white bg-gray-900">
    <!-- <div class="border-2 justify-self-start"></div> -->
    <div>{% block content %}{% endblock content %}</div>
    <!-- <div class="border-2 justify-self-end"></div> -->
</body>

</html>