<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename = 'styles.css') }}">
  <title>{% block title %}{% endblock %} / Twitter - Simulator</title>
</head>

<body class="grid grid-cols-3 bg-gray-900 text-white font-semibold text-xl">

  <!-- layout left -->
  <nav class="border-2 borde-pink-500 m-2 justify-self-end">
    <!-- nav bar -->
    <div class="border-2 border-pink-300 m-4 flex flex-col justify-self-end">
      <ul class="border-2 border-pink-500 m-2">
        <!-- Here we need a logic to control display some lists when page is short -->
        <li><a href="{{ url_for('home') }}">Twitter</a></li>
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('explore') }}">Explore</a></li>
        <li><a href="{{ url_for('notifications') }}">Notifications</a></li>
        <li><a href="{{ url_for('messages') }}">Messages</a></li>
        <li><a href="{{ url_for('bookmarks') }}">Bookmarks</a></li>
        <li><a href="{{ url_for('lists') }}">Lists</a></li>
        <li><a href="{{ url_for('profile') }}">Profile</a></li>

        <!-- this is the More Dropdown -->
        <!-- Need logics to change what shows in the dropdown according to view height -->
        <li class="border-2 border-yellow-500 m-2">
          <button>More</button>
          <div>
            <!-- this part of the menu change according to height -->
            <a href="#">Topics</a>
            <a href="#">Moments</a>
            <a href="#">Twitter Ads</a>
            <a href="#">Analytics</a>

            <!-- this part has 3 items regardless -->
            <div class="divide-y-0 divide-white"></div>

            <a href="#">Settings and Privacy</a>
            <a href="#">Help Center</a>
            <a href="#">Display</a>
          </div>
        </li>

        <div>
          <button>
            <a href="{{ url_for('tweet') }}">Tweet</a>
          </button>
        </div>

      </ul>

      <div class="border-2 border-pink-500 m-2">
        <button>Renee</button>
        <div>
          <ul>
            <li>Renee</li>
            <li>George</li>
          </ul>
          <a href="{{ url_for('account_add') }}">Add an existing account</a>
          <a href="{{ url_for('account_switch' )}}">Log out @renee</a>
        </div>
      </div>

    </div>
  </nav>


  <!-- layout middle -->
  <div class="border-2 border-pink-500 m-2 p-2 justify-self-center">
    <main class="border-l border-r">
      <h1 class="p-2">{% block header %}{% endblock header %}</h1>

      {% block content %}{% endblock content %}

    </main>
  </div>


  <!-- layout right -->
  <aside class="border-2 border-pink-300 flex flex-row mt-2 ml-8 justify-self-start">
    <div class="border-2 border-yellow-500 m-2 w-72">
      <div class="border-2 border-pink-500 m-2">
        <form class="flex flex-col bg-gray-800 bg-opacity-50 rounded-2xl overflow-visible
      divide-y divide-gray-600 m-4 p-4">Search Twitter</form>
        <!-- will add a dropdown of recent search when clicking on search bar -->


        <section class="flex flex-col bg-gray-800 bg-opacity-50 rounded-2xl overflow-visible
      divide-y divide-gray-600 m-4 p-4">
          <h3>Trends for you</h3>
          <!-- add a drop down menu to each of the topic on the top right corner -->
          <a href="#">
            {% for trend in trends %}
            <div class="border border-gray-500">
              <div class="text-xs text-gray-500 flex flex-row m-1">
                <div>{{ trend.label }}</div>
                <div>{{ trend.topic }}</div>
              </div>
              <div>{{ trend.content }}</div>
              <div class="text-xs text-gray-500">{{ trend.tweet_count }}</div>
            </div>
            {% endfor %}
          </a>
          <a href="#">Show more</a>
        </section>

        <section class="flex flex-col bg-gray-800 bg-opacity-50 rounded-2xl overflow-visible
      divide-y divide-gray-600 m-4 p-4">
          <h3>Who to follow</h3>
          {% for person in people %}
          <div class="flex flex-row">
            <div class="flex flex-row">
              <img> {{ person.icon }}
              <div class="flex flex-col">
                <div>{{ person.username }}</div>
                <div class="text-base font-light text-gray-600">{{ person.handle}}</div>
              </div>
            </div>
            <div class="border border-blue-600 rounded-full">
              <button>Follow</button>
            </div>
          </div>
          {% endfor %}
          <a href="#">Show more</a>
        </section>
      </div>

      <footer class="border-2 border-pink-500 m-2 flex flex-row text-xs text-gray-600">
        <a href="#" class="no-underline hover:underline">Terms of Service</a>
        <a href="#" class="no-underline hover:underline">Privacy Policy</a>
        <a href="#" class="no-underline hover:underline">Cookie Policy</a>
        <a href="#" class="no-underline hover:underline">Ads info</a>
        <div>
          <button>More</button>
          <ul>
            <li>About</li>
            <li>
              <a href="#">Status</a>
              <a href="#">Twitter for Business</a>
              <a href="#">Developers</a>
          </ul>
        </div>
        <p>(c) 2020 Twitter, Inc.</p>
      </footer>
    </div>
  </aside>

</body>

</html>