<!DOCTYPE html>
<html lang="en">

<head>
    <title>Tailwind CSS Modal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'styles.css') }}">
    <style>
        .modal {
            transition: opacity 0.25s ease;
        }

        body.modal-active {
            overflow-x: hidden;
            overflow-y: visible !important;
        }
    </style>
</head>

<body class="bg-gray-900 flex items-center justify-center h-screen">

    <button
        class="modal-open bg-transparent bg-gray-900 border border-blue-500 text-blue-500 
        hover:bg-gray-700 hover:bg-opacity-25 font-bold py-2 px-4 rounded-full focus:outline-none">Follow</button>

    <!--Modal-->
    <div class="modal opacity-0 pointer-events-none fixed w-full h-full top-0 left-0 flex items-center justify-center">
        <!-- bg outside modal -->
        <div class="modal-overlay absolute w-full h-full bg-red-900 opacity-50"></div>

        <div class="w-144 modal-container rounded-2xl bg-gray-900 text-white shadow-lg z-50 overflow-y-auto">
            <!-- Add margin if you want to see some of the overlay behind the modal-->
            <div class="modal-content flex flex-col pt-2 px-3 pb-20">
                <!-- close svg -->
                <div class="flex justify-between items-center">
                    <div class="modal-close cursor-pointer z-50 w-10 h-10 rounded-full flex justify-center items-center
                     hover:bg-blue-700 hover:bg-opacity-25">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                            class="w-6 h-6 stroke-current text-blue-500">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M6 18L18 6M6 6l12 12" />
                        </svg>
                    </div>
                </div>

                <div class="flex flex-col items-center justify-center">
                    <!-- user svg-->
                    <div class="flex justify-center items-center pb-14 pt-2">
                        <div class="modal-close cursor-pointer z-50 w-12 h-12">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                class="stroke-current text-blue-500 stroke-2">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M18 9v3m0 0v3m0-3h3m-3 0h-3m-2-5a4 4 0 11-8 0 4 4 0 018 0zM3 20a6 6 0 0112 0v1H3v-1z" />
                            </svg>
                        </div>
                    </div>

                    <!-- body -->
                    <div class="w-108 flex flex-col">
                        <div class="flex flex-col justify-center items-center pb-16">
                            <p class="font-bold text-2xl text-center">Follow username to see what they share on Chirper.
                            </p>
                            <p class="text-gray-600 text-tiny">Sing up so you never miss their Chirps.</p>
                        </div>

                        <!-- buttons -->
                        <div class="flex flex-col justify-center items-center text-center font-bold space-y-4">
                            <a href="{{ url_for('signup') }}">
                                <button class="w-108 bg-blue-500 rounded-full h-12 font-semibold 
            hover:bg-blue-600 focus:outline-none">Sign up</button>
                            </a>
                            <a href="{{ url_for('login') }}">
                                <button class="w-108 border border-blue-500 rounded-full h-12 text-blue-500 font-semibold
             hover:bg-gray-800 hover:bg-opacity-50 focus:outline-none">Log in</button>
                            </a>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <script>
        var openmodal = document.querySelectorAll('.modal-open')
        for (var i = 0; i < openmodal.length; i++) {
            openmodal[i].addEventListener('click', function (event) {
                event.preventDefault()
                toggleModal()
            })
        }

        const overlay = document.querySelector('.modal-overlay')
        overlay.addEventListener('click', toggleModal)

        var closemodal = document.querySelectorAll('.modal-close')
        for (var i = 0; i < closemodal.length; i++) {
            closemodal[i].addEventListener('click', toggleModal)
        }

        document.onkeydown = function (evt) {
            evt = evt || window.event
            var isEscape = false
            if ("key" in evt) {
                isEscape = (evt.key === "Escape" || evt.key === "Esc")
            } else {
                isEscape = (evt.keyCode === 27)
            }
            if (isEscape && document.body.classList.contains('modal-active')) {
                toggleModal()
            }
        };


        function toggleModal() {
            const body = document.querySelector('body')
            const modal = document.querySelector('.modal')
            modal.classList.toggle('opacity-0')
            modal.classList.toggle('pointer-events-none')
            body.classList.toggle('modal-active')
        }


    </script>
</body>

</html>