{% extends 'layout_profile.html' %}

<!-- overwrite the ones in layout_profile.html -->
{% block title %}Chirps liked by {{ current_user.name }} (@h{{ current_user.handle }}){% endblock title %}
{% block small %}
<div class="text-gray-600 text-s font-normal">14 Likes</div>
{% endblock small %}

<!-- 4 tabs -->
{% block tabs %}
<div class="flex flex-row justify-center h-12 text-gray-600 font-bold border-b border-gray-700 mt-4">
    <a href="{{ url_for('user.profile', handle = user.handle) }}" class="w-40 flex flex-row justify-center items-center 
        hover:bg-blue-800 hover:bg-opacity-25 hover:text-blue-500 pb-3 pt-2">
        <div>Chirps</div>
    </a>
    <a href="{{ url_for('user.profile_with_replies', handle = user.handle) }}" class="w-56 flex flex-row justify-center items-center 
        hover:bg-blue-800 hover:bg-opacity-25 hover:text-blue-500 pb-3 pt-2">
        <div>Chirps & replies</div>
    </a>
    <a href="{{ url_for('user.profile_media', handle = user.handle) }}" class="w-40 flex flex-row justify-center items-center 
        hover:bg-blue-800 hover:bg-opacity-25 hover:text-blue-500 pb-3 pt-2">
        <div>Media</div>
    </a>
    <a href="{{ url_for('user.profile_likes', handle = user.handle) }}" class="w-40 flex flex-row justify-center items-center 
        hover:bg-blue-800 hover:bg-opacity-25 hover:text-blue-500 pb-3 pt-2 text-blue-500 border-b-2 border-blue-500">
        <div>Likes</div>
    </a>
</div>
{% if current_user.handle == user.handle %}
<div class="pt-10 flex flex-col items-center space-y-2">
    <h1 class="text-white text-xl font-bold">You don’t have any likes yet</h1>
    <p class="text-sm font-medium text-gray-600">Tap the heart on any Chirp to show it some love. When you do, it’ll
        show up here.</p>
</div>
{% else %}
<div class="pt-10 flex flex-col items-center space-y-2">
    <h1 class="text-white text-xl font-bold">@{{ user.handle }}hasn’t liked any Chirps</h1>
    <p class="text-sm font-medium text-gray-600">When they do, those Chirps will show up here.</p>
</div>
{% endif %}
{% endblock tabs %}