{% extends 'layout_settings.html' %}
{% block title %}Change phone{% endblock title %}
{% block header %}Change phone{% endblock header %}

{% block presvg %}
<div onclick="history.go(-1)">
    <!-- svg redirects to whatever last page user was on -->
    <div class="svg-bg-div mr-4">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
            class="w-6 h-6 stroke-current text-blue-500">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
        </svg>
    </div>
</div>
{% endblock presvg %}

{% block content %}
<div class="flex flex-col mx-4 mt-3 text-tiny">
        <div>
            {% if current_user.phone %}
            <div
                class="flex flex-col  bg-gray-800 border-b-2 border-gray-600 bg-opacity-25 w-140 h-16 text-gray-600 focus-within:text-blue-500 focus-within:border-blue-500">
                <div class="my-1 ml-2">Current</div>
                <div>{{ current_user.phone }}</div>
            </div>
            {% endif %}

        </div>
        {% if current_user.phone %}
        <div class="h-3 bg-gray-800 bg-opacity-50 border-t border-b border-gray-700 -mx-4"></div>
        <div class="mt-0">

            <a href="{{ url_for('user_settings.settings_addPhone') }}">
                <div class="text-center text-blue-500 py-3 -mx-4 border-b border-gray-700 
                hover:bg-opacity-25 hover:bg-blue-800">
                    Update phone number
                </div>
            </a>
            <a href="#">
                <div class="text-center text-red-600 py-3 -mx-4  border-b border-gray-700
                hover:bg-opacity-25 hover:bg-red-700">Delete
                    phone number</div>
            </a>
        </div>
        {% else %}
        <div class="mt-1">
            <a href="{{ url_for('user_settings.settings_addPhone') }}">
                <div class="text-center text-blue-500 py-3 -mx-4 border-b border-gray-700 
                hover:bg-opacity-25 hover:bg-blue-800">Add phone
                    number</div>
            </a>
        </div>
        {% endif %}
    </form>
</div>
{% endblock content %}