{% extends 'layout_form.html' %}
{% block title %}Edit profile{% endblock title %}
{% block content %}
<div class="h-screen sm:bg-gray-900 md:bg-gray-800 md:bg-opacity-100 flex flex-col items-center md:justify-center">
    <div class="flex flex-col bg-gray-900 md:rounded-2xl pb-32 pt-2 h-160">
        <form method="POST" action="" class="">
            {{ form.hidden_tag() }}
            <div class="flex flex-col w-148">
                <!-- header -->
                <div class="flex flex-row items-center justify-between border-b border-gray-700 pb-2 px-2">
                    <!-- justify left -->
                    <div class="flex flex-row items-center">
                        <!-- close svg -->
                        <a href="{{ url_for('profile') }}">
                            <div class="svg-bg-div mr-4">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    class="w-6 h-8 stroke-current text-blue-500">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M6 18L18 6M6 6l12 12" />
                                </svg>
                            </div>
                        </a>
                        <div class="text-xl font-bold tracking-wide">Edit profile</div>
                    </div>
                    <!-- justify right -->
                    <!-- save button -->
                    <div>
                        {{ form.submit(class="rounded-full bg-blue-500 hover:bg-blue-600 px-3 py-1 mr-3 cursor-pointer") }}
                    </div>
                    <!-- <a href="#" class="rounded-full bg-blue-500 hover:bg-blue-600 px-3 py-1 mr-3">
                        <div class="font-bold">Save</div>
                    </a> -->
                </div>

                <!-- scrollable area -->
                <div class="h-144 overflow-y-scroll">
                    <!-- cover photo -->
                    <div class="h-48 mb-4 flex justify-center items-center bg-black bg-opacity-50">
                        <!-- camera svg -->
                        <button class="focus:outline-none">
                            <div class="rounded-full w-10 h-10 flex justify-center items-center
                    hover:bg-gray-800 hover:bg-opacity-25 active:bg-gray-600">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    class="w-6 h-6 stroke-current stroke-1 ">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M3 9a2 2 0 012-2h.93a2 2 0 001.664-.89l.812-1.22A2 2 0 0110.07 4h3.86a2 2 0 011.664.89l.812 1.22A2 2 0 0018.07 7H19a2 2 0 012 2v9a2 2 0 01-2 2H5a2 2 0 01-2-2V9z" />
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M15 13a3 3 0 11-6 0 3 3 0 016 0z" />
                                </svg>
                            </div>
                        </button>
                    </div>

                    <!-- form  fields-->
                    <div class="flex flex-col">
                        <div class="space-y-2 text-gray-600 px-4 -mt-16">

                            <!-- camera svg -->
                            <div style="background-image: url({{ image_file }}); opacity:0.8;"
                                class="w-28 h-28 bg-cover bg-center rounded-full">
                                <div class="w-28 h-28 flex flex-row justify-center items-center rounded-full">
                                    <button class="focus:outline-none">
                                        <div class="rounded-full w-10 h-10 flex justify-center items-center
                                        hover:bg-gray-600 hover:bg-opacity-25 active:bg-gray-500">
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                                class="w-6 h-6 stroke-current stroke-1 text-white">
                                                <path stroke-linecap="round" stroke-linejoin="round"
                                                    d="M3 9a2 2 0 012-2h.93a2 2 0 001.664-.89l.812-1.22A2 2 0 0110.07 4h3.86a2 2 0 011.664.89l.812 1.22A2 2 0 0018.07 7H19a2 2 0 012 2v9a2 2 0 01-2 2H5a2 2 0 01-2-2V9z" />
                                                <path stroke-linecap="round" stroke-linejoin="round"
                                                    d="M15 13a3 3 0 11-6 0 3 3 0 016 0z" />
                                            </svg>
                                        </div>
                                    </button>
                                </div>

                            </div>


                            <!-- other fields -->
                            <div class="flex flex-col space-y-8">
                                <!-- name -->
                                <div class="flex flex-col bg-gray-700 bg-opacity-25 border-b-2 border-gray-600
                                    focus-within:border-blue-500 focus-within:text-blue-50">
                                    {{ form.name.label(for="name", class="bg-gray-700 bg-opacity-0 ml-2 mt-2") }}
                                    {{ form.name(maxlength="50", placeholder="Add your name",
                                    class="bg-gray-700 bg-opacity-0 ml-2 pb-1 outline-none text-white placeholder-gray-600") }}
                                </div>

                                <!-- bio -->
                                <div class="flex flex-col  bg-gray-700 bg-opacity-25 border-b-2 border-gray-600 
                                    focus-within:border-blue-500 focus-within:text-blue-500">
                                    {{ form.bio.label(for="bio", class="bg-gray-700 bg-opacity-0 ml-2 mt-2") }}
                                    {{ form.bio(rows="3", maxlength="160", placeholder="Add your bio",
                                    class="resize-none bg-gray-700 bg-opacity-0 ml-2 pb-1 outline-none text-white placeholder-gray-600") }}
                                </div>

                                <!-- location -->
                                <div class="flex flex-col bg-gray-700 bg-opacity-25 border-b-2 border-gray-600
                                        focus-within:border-blue-500 focus-within:text-blue-500">
                                    {{ form.location.label(for="location", class="bg-gray-700 bg-opacity-0 ml-2 mt-2") }}
                                    {{ form.location(maxlength="30", placeholder="Add your location",
                                    class="bg-gray-700 bg-opacity-0 ml-2 pb-1 outline-none text-white placeholder-gray-600") }}
                                </div>

                                <!-- website -->
                                <div class="flex flex-col bg-gray-700 bg-opacity-25 border-b-2 border-gray-600
                                         focus-within:border-blue-500 focus-within:text-blue-500">
                                    {{ form.website.label(for="website", class="bg-gray-700 bg-opacity-0 ml-2 mt-2") }}
                                    {{ form.website(maxlength="100", placeholder="Add your website",
                                    class="bg-gray-700 bg-opacity-0 ml-2 pb-1 outline-none text-white placeholder-gray-600") }}
                                </div>

                                <!-- birthday -->
                                <div class="flex flex-col pb-16">
                                    <div class="flex flex-row space-x-1">
                                        <div class="text-tiny">Birth date</div>
                                        <div class="text-tiny">·</div>
                                        <a href="#" class="text-tiny text-blue-500 hover:underline">Edit</a>
                                    </div>
                                    <div class="text-white">Add your date of birth</div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock content %}