{% extends 'layout_form.html' %}

{% block title %}Sign up for Chirper{% endblock title %}


{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
{{ message }}
{% endfor %}
{% endif %}
{% endwith %}


{% block content %}
<div class="h-screen sm:bg-gray-900 md:bg-gray-800 md:bg-opacity-100 flex flex-col items-center md:justify-center">
    <div class="flex flex-col bg-gray-900 md:rounded-2xl px-8 pb-12 pt-2">
        <svg id="Capa_1" enable-background="new 0 0 512 512" height="512" viewBox="0 0 512 512" width="512"
            xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 fill-current self-center mt-3">
            <g>
                <path
                    d="m105.623 201.204c0 1.149.382 2.74 2.202 3.789l61.082 35.184v-77.947l-61.081 35.184c-1.821 1.048-2.203 2.639-2.203 3.79z" />
                <path
                    d="m428.034 70.164c-26.196-26.197-60.866-40.624-97.624-40.624h-.698c-34.778 0-67.582 13.65-92.368 38.437s-38.437 57.591-38.437 92.369v132.412c0 58.142 22.813 112.976 64.237 154.399 20.686 20.686 44.716 36.729 70.831 47.61-.258-.255-.521-.502-.778-.759-30.652-30.652-47.533-71.253-47.533-114.324v-64.083c0-59.79 48.644-108.434 108.434-108.434h.527c26.968 0 52.263 7.288 74.031 19.987v-59.367c.001-36.757-14.426-71.427-40.622-97.623zm-94.501 83.862c-8.284 0-15-6.716-15-15 0-9.743-7.96-17.669-17.745-17.669s-17.745 7.926-17.745 17.669c0 8.284-6.716 15-15 15s-15-6.716-15-15c0-26.285 21.418-47.669 47.745-47.669s47.745 21.384 47.745 47.669c0 8.284-6.716 15-15 15z" />
                <path
                    d="m477.509 271.66c-22.242-22.243-51.678-34.492-82.883-34.492h-.527c-43.248 0-78.434 35.186-78.434 78.434v64.083c0 35.058 13.761 68.125 38.746 93.11 24.985 24.986 58.054 38.746 93.111 38.746h50.427c7.748 0 14.051-6.303 14.051-14.051v-142.948c0-31.205-12.249-60.64-34.491-82.882z" />
                <path
                    d="m101.433 87.27-17.215 17.175c-5.865 5.851-5.876 15.349-.025 21.213 2.931 2.937 6.774 4.406 10.619 4.406 3.833 0 7.666-1.46 10.594-4.381l21.621-21.57c2.821-2.814 4.406-6.635 4.406-10.619v-78.035c0-8.284-6.716-15-15-15h-79.812c-8.284 0-15 6.716-15 15v71.811l-17.215 17.175c-5.865 5.851-5.876 15.349-.025 21.213 5.852 5.866 15.348 5.876 21.213.025l21.621-21.57c2.821-2.814 4.406-6.635 4.406-10.619v-63.035h49.812z" />
            </g>
        </svg>
        <form method="POST" action="" class="space-y-6">
            <!-- action="" posts us back to the same route -->
            {{ form.hidden_tag() }}
            <div class="space-y-4 flex flex-col w-128">
                <div class="text-2xl font-bold tracking-wide">Create your account</div>
                <div class="space-y-5 text-gray-600">
                    <!-- name -->
                    <div class="flex flex-col bg-gray-700 bg-opacity-25 border-b-2 border-gray-600
                    focus-within:border-blue-500 focus-within:text-blue-500">
                        <label for="name" class="bg-gray-700 bg-opacity-0 ml-2 mt-2">Name</label>
                        {% if form.username.errors %}
                        {{ form.username(name="name" class="bg-gray-700 bg-opacity-0 ml-2 mt-2 outline-none text-white") }}
                        {% for error in form.username.errors %}
                        <span class="flash_warning">{{ error }}</span>
                        {% endfor %}
                        {% else %}
                        {{ form.username(name="name" class="bg-gray-700 bg-opacity-0 ml-2 mt-2 outline-none text-white") }}
                        {% endif %}
                    </div>

                    <!-- email -->
                    <div class="flex flex-col  bg-gray-700 bg-opacity-25 border-b-2 border-gray-600 
                    focus-within:border-blue-500 focus-within:text-blue-500">
                        {{ form.email.label(class="bg-gray-700 bg-opacity-0 ml-2 mt-2") }}
                        {% if form.email.errors %}
                        {{ form.email(class="bg-gray-700 bg-opacity-0 ml-2 mt-2 outline-none text-white") }}
                        {% for error in form.email.errors %}
                        <span class="flash_warning">{{ error }}</span>
                        {% endfor %}
                        {% else %}
                        {{ form.email(class="bg-gray-700 bg-opacity-0 ml-2 mt-2 outline-none text-white") }}
                        {% endif %}
                    </div>


                </div>
                <div class="text-blue-600 text-sm font-medium no-underline hover:underline cursor-pointer pb-4">Use
                    phone instead</div>

                <div class="space-y-5 text-gray-600">
                    <!-- password -->
                    <div class="flex flex-col  bg-gray-700 bg-opacity-25 border-b-2 border-gray-600
                    focus-within:border-blue-500 focus-within:text-blue-500">
                        {{ form.password.label(for="password" class="bg-gray-700 bg-opacity-0 ml-2 mt-2") }}
                        {% if form.password.errors %}
                        {{ form.password(name="password" class="bg-gray-700 bg-opacity-0 ml-2 mt-2 outline-none text-white") }}
                        {% for error in errors %}
                        <span class="flash_warning">{{ form.password.error }}</span>
                        {% endfor %}
                        {% else %}
                        {{ form.password(name="password" class="bg-gray-700 bg-opacity-0 ml-2 mt-2 outline-none text-white") }}
                        {% endif %}
                    </div>

                    <!-- confirm password -->
                    <div class="flex flex-col bg-gray-700 bg-opacity-25 border-b-2 border-gray-600
                    focus-within:border-blue-500 focus-within:text-blue-500">
                        {{ form.confirm_password.label(for="confirm_password" class="bg-gray-700 bg-opacity-0 ml-2 mt-2") }}
                        {% if form.confirm_password.errors %}
                        {{ form.confirm_password(name="confirm_password" class="bg-gray-700 bg-opacity-0 ml-2 mt-2 outline-none text-white") }}
                        {% for error in form.confirm_password.errors %}
                        <span class="flash_warning">{{ error }}</span>
                        {% endfor %}
                        {% else %}
                        {{ form.confirm_password(name="confirm_password" class="bg-gray-700 bg-opacity-0 ml-2 mt-2 outline-none text-white") }}
                        {% endif %}
                    </div>
                </div>
                <div>
                    {{ form.submit(class="bg-blue-500 rounded-full h-12 w-128 font-bold outline-none
                 hover:bg-blue-600 cursor-pointer mt-2 self-center") }}
                </div>
            </div>

        </form>
    </div>


    <!-- credit for bird icon -->
    <div class="text-xxs text-gray-700 mt-2">Bird icon made by
        <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from
        <a href="https://www.flaticon.com/" title="Flaticon">Flaticon</a>
    </div>

</div>
{% endblock content %}