{% extends 'layout.html' %}
{% block title %}Post User Name on Chirper: chirp content... {% endblock title %}

{% block presvg %}
<div onclick="history.go(-1)">
    <!-- svg redirects to whatever last page user was on -->
    <div class="svg-bg-div mr-4">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
            class="w-6 h-6 stroke-current text-blue-500">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
        </svg>
    </div>
</div>
{% endblock presvg %}

{% block header %}Chirp{% endblock header %}

{% block content %}
<div class="border-gray-700 border-b">
    <div class="p-1 m-2 text-sm flex flex-col ">
        <div class="flex flex-row space-x-2">
            <!-- user icon -->
            <a href="{{ url_for('user.profile', handle = post.author.handle) }}">
                <div class="w-12 h-12">
                    <div class="w-12 h-12 rounded-full overflow-hidden">
                        <img src=" {{ url_for('static', filename = 'img/profile_pics/' + post.author.profile_image) }} "
                            alt="profile pic" class="w-full h-full object-cover">
                    </div>
                </div>
            </a>

            <div class="flex flex-col w-full space-y-2">
                <!-- small header -->
                <div class="flex flex-row justify-between items-start">
                    <!-- username, handle, timestamp -->
                    <div class="flex flex-row space-x-2">
                        <!-- link to user page -->
                        <a href="{{ url_for('user.profile', handle = post.author.handle) }}">
                            <div class="flex flex-col">
                                <div class="text-base font-bold hover:underline">{{ post.author.name }}</div>
                                <div class="text-gray-600">@{{ post.author.handle }}</div>
                            </div>
                        </a>
                    </div>

                    <!-- buttons -->
                    <div class="-space-x-1">
                        {% if post.author == current_user %}
                        <!-- edit button -->
                        <a href="{{ url_for('post.update_chirp', handle = post.author.handle, post_id = post.id) }}">
                            <button class="focus:outline-none">
                                <div class="rounded-full p-2 hover:bg-blue-700 hover:bg-opacity-25 active:bg-blue-500">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        class="w-5 h-5 stroke-current text-gray-600 hover:text-blue-500">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
                                    </svg>
                                </div>
                            </button>
                        </a>


                        <!-- delete button -->
                        <form
                            action="{{ url_for('post.delete_chirp', handle = post.author.handle, post_id = post.id) }}"
                            method="POST" class="inline">
                            <button class="focus:outline-none">
                                <div class="rounded-full p-2 hover:bg-red-700 hover:bg-opacity-25 active:bg-red-500">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        class="w-5 h-5 stroke-current text-gray-600 hover:text-red-500">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                                    </svg>
                                </div>
                            </button>
                        </form>
                        {% endif %}

                        <!-- setting button -->
                        <button class="focus:outline-none">
                            <div class="rounded-full p-2 hover:bg-blue-700 hover:bg-opacity-25 active:bg-blue-500">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    class="w-5 h-5 stroke-current text-gray-600 hover:text-blue-500">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z" />
                                </svg>
                            </div>
                        </button>
                    </div>
                </div>
            </div>
        </div>


        <div class="flex flex-col">
            <!-- chirp content section -->
            <div>
                <p class="text-2xl pt-4 pb-2">
                    {{ post.content }}
                </p>

                <!-- post timestamp -->
                <div class="flex flex-row text-gray-600 space-x-1 text-tiny border-b border-gray-600 py-4">
                    <div>{{ post.created_at.strftime('%I:%M %p · %d %b %Y').lstrip('0') }}</div>
                    <div>·</div>
                    <div>Source Label</div>
                </div>

                <!-- counts -->
                <div class="flex flex-row text-gray-600 space-x-4 text-tiny border-b border-gray-600 py-4">
                    <div>{{ 171 }} Rechirps</div>
                    <div>{{ 21 }} Quotes</div>
                    <div>{{ post.like_count() }} Likes</div>
                </div>

            </div>
            <!-- svg group -->
            <div class="flex flex-row pt-2 -mb-1 justify-around">
                <!-- comment -->
                <a href="{{ url_for('post.compose_chirp') }}">
                    <div class="rounded-full p-2 hover:bg-blue-700 hover:bg-opacity-25 active:bg-blue-500">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                            class="w-6 h-6 stroke-current stroke-1 text-gray-500 hover:text-blue-500 ">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M8 12h.01M12 12h.01M16 12h.01M21 12c0 4.418-4.03 8-9 8a9.863 9.863 0 01-4.255-.949L3 20l1.395-3.72C3.512 15.042 3 13.574 3 12c0-4.418 4.03-8 9-8s9 3.582 9 8z" />
                        </svg>
                    </div>
                </a>

                <!-- rechirp -->
                <a href="{{ url_for('post.compose_chirp') }}">
                    <div class="rounded-full p-2 hover:bg-green-700 hover:bg-opacity-25 active:bg-green-500">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                            class="w-6 h-6 stroke-current stroke-1 text-gray-500 hover:text-green-500 ">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15" />
                        </svg>
                    </div>
                </a>


                <!-- like button -->
                {% if current_user.liked_post(post) %}
                <div>
                    <form action="{{ url_for('post.unlike_chirp', handle = current_user.handle, post_id = post.id) }}"
                        method="POST">
                        <button class="focus:outline-none flex flex-row items-center space-x-1">
                            <div class="rounded-full p-2 hover:bg-red-700 hover:bg-opacity-25 active:bg-red-500">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    class="w-6 h-6 stroke-current stroke-1 fill-current text-red-600 hover:text-red-500 ">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
                                </svg>
                            </div>
                            <div class="text-red-600">{{ post.like_count() }}</div>
                        </button>
                    </form>
                </div>
                {% else %}
                <div>
                    <form action="{{ url_for('post.like_chirp', handle = current_user.handle, post_id = post.id) }}"
                        method="POST">
                        <button class="focus:outline-none flex flex-row items-center space-x-1">
                            <div class="rounded-full p-2 hover:bg-red-700 hover:bg-opacity-25 active:bg-red-500">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    class="w-6 h-6 stroke-current stroke-1 text-gray-500 hover:text-red-500 ">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
                                </svg>
                            </div>
                            <div class="text-gray-600">{{ post.like_count() }}</div>
                        </button>
                    </form>
                </div>
                {% endif %}


                <!-- share -->
                <button class="focus:outline-none">
                    <div class="rounded-full p-2 hover:bg-blue-700 hover:bg-opacity-25 active:bg-blue-500">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                            class="w-6 h-6 stroke-current stroke-1 text-gray-500 hover:text-blue-500 ">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-8l-4-4m0 0L8 8m4-4v12" />
                        </svg>
                    </div>
                </button>

            </div>

            <!-- link to thread -->
            <!-- <div>
    <a href="#">Show this thread</a>
</div> -->

        </div>


    </div>
</div>


{% endblock content %}