{% extends 'layout_settings.html' %}

{% block title %}Change your password{% endblock title%}
{% block header %}Change your password{% endblock header %}

{% block presvg %}
<div onclick="history.go(-1)">
    <!-- svg redirects to whatever last page user was on -->
    <div class="svg-bg-div w-7 h-7 mr-4">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
            class="w-6 h-6 stroke-current text-blue-500">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
        </svg>
    </div>
</div>
{% endblock presvg %}


{% block content %}
<div class="flex flex-col mx-4 my-3 space-y-2 text-tiny">
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        <div
            class="flex flex-col bg-gray-800 border-b-2 border-gray-600 bg-opacity-25 w-140 h-16 text-gray-600 focus-within:text-blue-500 focus-within:border-blue-500">
            {{ form.current_password.label(class="my-1 ml-2") }}
            {{ form.current_password(class="ml-2 bg-gray-800 bg-opacity-0 text-lg text-white outline-none") }}
        </div>
        {% with messages = get_flashed_messages() %}
        {% for message in messages %}
        <div class="text-red-600 mt-1 text-s">{{ message }}</div>
        {% endfor %}
        {% endwith %}
        <a href="{{ url_for('account.account_accessPasswordReset') }}"
            class="text-blue-500 text-xs mt-2 ml-2 no-underline hover:underline">Forgot
            password?</a>
        <div class="h-3 bg-gray-800 bg-opacity-50 border-t border-b border-gray-700 -mx-4"></div>
        <div class="space-y-5 py-1">
            <div>
                {% if form.new_password.errors %}
                <div
                    class="flex flex-col bg-gray-800 border-b-2 border-red-600 bg-opacity-25 w-140 text-red-600 focus-within:text-red-500 focus-within:border-red-500">
                    {{ form.new_password.label(class="my-1 ml-2") }}
                    {{ form.new_password(class="ml-2 bg-gray-800 bg-opacity-0 text-lg text-white outline-none") }}
                </div>
                {% for error in form.new_password.errors %}
                <div class="text-red-600 mt-1 text-s">{{ error }}</div>
                {% endfor %}
                {% else %}
                <div
                    class="flex flex-col bg-gray-800 border-b-2 border-gray-600 bg-opacity-25 w-140 text-gray-600 focus-within:text-blue-500 focus-within:border-blue-500">
                    {{ form.new_password.label(class="my-1 ml-2") }}
                    {{ form.new_password(class="ml-2 bg-gray-800 bg-opacity-0 text-lg text-white outline-none") }}
                </div>
                {% endif %}
            </div>

            <div>
                {% if form.confirm_password.errors %}
                <div
                    class="flex flex-col bg-gray-800 border-b-2 border-red-600 bg-opacity-25 w-140 text-red-600 focus-within:text-red-500 focus-within:border-red-500">
                    {{ form.confirm_password.label(class="my-1 ml-2") }}
                    {{ form.confirm_password(class="ml-2 bg-gray-800 bg-opacity-0 text-lg text-white outline-none") }}
                </div>
                {% for error in form.confirm_password.errors %}
                <div class="text-red-600 mt-1 text-s">{{ error }}</div>
                {% endfor %}
                {% else %}
                <div
                    class="flex flex-col bg-gray-800 border-b-2 border-gray-600 bg-opacity-25 w-140 text-gray-600 focus-within:text-blue-500 focus-within:border-blue-500">
                    {{ form.confirm_password.label(class="my-1 ml-2") }}
                    {{ form.confirm_password(class="ml-2 bg-gray-800 bg-opacity-0 text-lg text-white outline-none") }}
                </div>
                {% endif %}
            </div>

        </div>
        <div class="h-3 bg-gray-800 bg-opacity-50 border-t border-b border-gray-700 -mx-4"></div>
        {{ form.submit(class="font-semibold bg-blue-500 cursor-pointer rounded-full py-2 px-4 focus:outline-none self-end") }}
    </form>
</div>
{% endblock content %}